.body{
  background-color: rgb(224, 255, 224);
  height: 100%;
  min-height: 100vh;
}

.title{
  margin-left: 40%;
}

.input {
  padding-top: 40px;
  width: 50%;
  margin-left: 25%;
  display: flex;
}


.box{
  display: flex;
  flex-wrap: wrap;
  padding-left: 18%;
  width: 90%;
}

.card{
  width: 300px;
  margin: 5%; 
  padding: 8px;
}

/* PARA VISTA MOBIL */

@media (max-width: 600px) {
.body {
  margin: 0;
  width: 100vw;
}

.title{
  margin-left: 20%;
}

.input {
  width: 80%;
  margin-left: 10%;
}

.box{
  padding-left: 20px;
  width: 100%;
}

.card{
  width: 150px;
  margin: 10px ; 
  padding: 0;
}

}